# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# unignore specific files with following extensions
!*.cpp
!*.py
!*.java
!*.txt
!*.md
!*.png
!*.pdf
!*.zip
!*.jpeg
!*.jpg
!*.html
!*.docx
!*.tex
!*.ipynb